body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

div {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: x-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  color: #333;
}

button {
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

a-scene {
  margin-top: 20px;
}
