  <nav>
    <ul>
      <li><a routerLink="/stories">View Stories</a></li>
      <li><a routerLink="/tips">View Tips</a></li>
      <li><a routerLink="/photos">View Photos</a></li>
      <li><a routerLink="/forums">View Forums</a></li>
    </ul>
  </nav>
  <div class="container">
    <div class="grid-container">
      <div class="grid-item">
        <app-story-form></app-story-form>
      </div>
      <div class="grid-item">
        <app-tip-form></app-tip-form>
      </div>
      <div class="grid-item">
        <app-photo-form></app-photo-form>
      </div>
      <div class="grid-item">
        <app-forum-post-form></app-forum-post-form>
      </div>
    </div>
  </div>